<footer class="footer">
  <small>
    <span class="glyphicon glyphicon-education"></span> <%= link_to "FreeBook", root_path %>
  </small>
  <nav>
    <ul>
    <% if logged_in? %>
      <li><span class="glyphicon glyphicon-user"></span> <%= link_to "#{current_user.name}", current_user %></li>
    <% end %>
    </ul>
  </nav>
</footer>
